.programme-details{
    max-width: 900px;
    margin: 60px auto;
    padding: 30px;

    background: var(--bg-color);

    border-radius: 25px;

    text-align: center;

    box-shadow: 0 15px 40px rgba(0,0,0,.12);

    transition: .3s;
}

.programme-details:hover{
    transform: translateY(-5px);
}

.programme-details img{
    width: 100%;
    height: 450px;

    object-fit: cover;

    border-radius: 20px;

    margin-bottom: 25px;
}

.programme-details h1{
    font-size: 2.8rem;
    margin-bottom: 15px;
}

.programme-details p{
    font-size: 1.1rem;
    line-height: 1.8;

    color: #8f7a7a;

    max-width: 700px;
    margin: 0 auto 30px;
}

#favBtn{
    background: rgb(172, 130, 78);
    color: white;

    border: none;

    padding: 14px 28px;

    border-radius: 12px;

    cursor: pointer;

    font-size: 16px;
    font-weight: 600;

    transition: .3s;
}

#favBtn:hover{
   background: rgb(145, 117, 84);

    transform: translateY(-3px);

    box-shadow: 0 8px 20px rgba(40,167,69,.3);
}

.back-btn{
    display: inline-block;

    margin-left: 10px;

    padding: 14px 28px;

    border-radius: 12px;

    background: rgb(125, 165, 52);
    color: white;

    text-decoration: none;

    font-size: 16px;
    font-weight: 600;

    transition: .3s;
}

.back-btn:hover{
   background: rgb(88, 110, 26);

    transform: translateY(-3px);

    box-shadow: 0 8px 20px rgba(0,123,255,.3);
}
@media(max-width:768px){

    .programme-details{
        margin: 30px 15px;
        padding: 20px;
    }

    .programme-details img{
        height: 250px;
    }

    .programme-details h1{
        font-size: 2rem;
    }

    .programme-details p{
        font-size: 1rem;
    }

    #favBtn,
    .back-btn{
        display: block;
        width: 100%;
        margin: 10px 0;
    }

}